a.navbar-brand.navbar-home.hidden-xs.hidden-sm{

    background: url(logo.png);
    background-size: contain;
    background-position: center center;
    /* background-attachment: fixed; */
    width: 200px;
    height: 45px;
    /* margin-top: 10px; */
    display: block;
    background-repeat: no-repeat;
    margin-right: 5px;
}
.navbar-brand > img{
	display: none;
}